@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;

    
}

h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

p, li, span{
    font-family: 'Hind', sans-serif;
    font-size: 18px;
}


header { 
    display: flex;
    justify-content: center;
    background-color: slategrey;
    min-width: 100vh;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    min-width: 100vh;
}
nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    
}

span {
    color: blueviolet;
}

footer {
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: slategrey;
    min-width: 100vh;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#mapa {
    margin: 20px;
}