
* {
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 0;
    margin: 0;
    padding: 20px;*/
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    /*background-color: blanchedalmond;*/
}

.content-flex {
    /*display: flex;
    justify-content: space-between;*/
}

.content-flex h3 {
    
}

span {
    color: blueviolet;
}

footer {
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: slategrey;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#mapa {
    margin: 20px;
}