@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

:root {
    --background-footer-nav: #004643;
    --background-par: #e8e4e6;
    --background-impar: #abd1c6;
    --span: #e16162;
    
}

* {
    padding: 0;
    margin: 0;
    line-height: 50px;
}

body {
    text-align: center;
}

h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 10px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
    color: #000080;
}

h4 {
    font-size: 25px;
    color: #e16162;
}

p, li, span{
    font-family: 'Hind', sans-serif;
    font-size: 18px;
}


header { 
    display: flex;
    justify-content: center;
    background-color: slategrey;
    width: 100%;
}

nav {
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-footer-nav);
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
    
}

span {
    color: var(--span);
}

footer {
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: var(--background-footer-nav);
    width: 100%;
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#mapa {
    margin: 20px;
}

.list-each-skill {
    text-align: start;
}

.par {
    background-color: var(--background-par);
}

.impar {
    background-color: var(--background-impar);
}

section {
    display: flex;
    justify-content: center;
}

section > div {
    width: 1200px;
    margin: 25px 0;
}

section div h2 {
    margin-bottom: 10px;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




aside {
    display: grid;
    grid-template-columns: 2;
    margin: 30px;
}

.aside-par {
    flex-direction: row-reverse;
}


#grid {
    width: 1fr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
    column-gap: 15px;
    align-items: center;
}

#grid > div {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#proyects > div {
    width: 1500px;
}

.icono-github {
    font-size: 50px;
    color: var(--background-footer-nav);
    margin-top: 10px;
}